$font-color-base: rgb(0 0 0)
$font-color-opacity: rgb(90 98 110)
$font-color-light: rgb(236 235 235)

$font-size-ss: 14px
$font-size-s: 16px
$font-size-m: 24px
$font-size-l: 36px
$font-size-xl: 42px

$bg-white: rgb(255 255 255)
$bg-dark: rgb(24 24 24)
$bg-opacity: rgb(91 112 131 / 0.4)

$b-width: 2px
$b-radius-s: 3px
$b-radius-m: 6px
$b-radius-l: 12px

$header-p: 14px 2px
$header-height: 55px